@import "src/variables";
@import "src/_mixins";

.main {
  background: url($bg-url-secondary);
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    .error {
      text-align: center;
      padding-top: 10%;
      font-size: 24px;
      @include fonts-strong(36px,normal,100, 44px, $font);
      color: $text-color-third;
      text-shadow: 0 1px 1px $text-color-primary;
    }
    .item {
      position:relative;
      bottom: 0;
      right: 5%;
      .item_img {

        height: 280px;
        width:300px;
        background: url($cats-url) no-repeat;
        background-size: cover;
        margin-left: auto;
      }
    }

  }

}
