@import 'src/_variables';
@import 'src/_mixins';

.header {
  width: 100%;
  position: absolute;
  background: transparent;
  top: 36px;
  animation: title 2.5s ease-out;
  .title {
    text-align: center;
    @include fonts-strong(36px,normal,100, 44px, $font);
    color: $text-color-third;
    text-shadow: 0 1px 1px #000000;
  }
}

@keyframes title {
  from {
    top: -250px;
  }
  to {
    top: 36px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    top: 15px;
    .title {
     font-size: 22px;
    }
  }
}
