@import 'src/_variables';

.main {
  background: url($bg-url-primary);
  min-height: 100vh;

  .section {
    padding-top: 104px;
    min-height: calc(100vh - 104px);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      gap: 80px;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      animation: content 4s ease-in-out;
    }
  }

}

@keyframes content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .main {
    background: url($bg-url-secondary);
  }
}
