
@mixin fonts-strong($size:inherit,$f-style:normal,$f-weight:inherit,$l-height:inherit,$f-family:inherit) {
  font-size: $size;
  font-style: $f-style;
  font-weight: $f-weight;
  line-height: $l-height;
  font-family: $f-family;
}
@mixin fonts-light($size:inherit,$weight:400,$height:inherit,$family:inherit) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  font-family: $family;
}