
$color-primary:#1698D9;
$color-primary-hover:#2EA8E6;
$color-secondary:#D91667;
$color-secondary-hover:#E52E7A;
$color-third:#F2F2F2;
$color-disabled:#B3B3B3;

$text-color-primary:#000000;
$text-color-secondary:#666666;
$text-color-third:#FFFFFF;
$text-color-four:#E62E7A;
$text-color-five:#FFFF66;
$text-color-disabled:#B3B3B3;

$bg-url-primary: '/assets/img/main/Main-BG-2K.jpg';
$bg-url-secondary: '/assets/img/main/Main-BG.jpg';
$card-url: '/assets/img/card/Photo.png';
$cats-url: '/assets/img/cats.png';

$bg-primary:#F2F2F2;
$bg-secondary:#FFFFFF;

$link-color-primary:#1698D9;
$link-color-primary-hover:#22A7E9;

$font:Exo2Thin,sans-serif;