
$border-primary:#1698D9;
$border-primary-hover:#2EA8E6;
$border-secondary:#D91667;
$border-secondary-hover:#E52E7A;
$border-disabled:#B3B3B3;

$text-color-primary:#000000;
$text-color-secondary:#666666;
$text-color-third:#FFFFFF;
$text-color-four:#E62E7A;
$text-color-five:#FFFF66;
$text-color-disabled:#B3B3B3;

$bg-url-primary: '/assets/img/main/Main-BG.jpg';
$bg-url-secondary: '/assets/img/main/Main-BG-2K.jpg';

$bg-primary:#F2F2F2;

$link-color-primary:#22A7E9;